html { 
    background-color: #F8F4E3;
    color: #031927;
}
body { margin: 0;}

/*fonts*/

/*title weight*/
@font-face {
    font-family: circularStd;
    src: url(assets/fonts/circularstdblack.ttf);
    font-weight: bolder;
}

/*heading + subheading weight*/
@font-face {
    font-family: circularStd;
    src: url(assets/fonts/circularstdbold.ttf);
    font-weight: bold;
}

/*body weight*/
@font-face {
    font-family: circularStd;
    src: url(assets/fonts/circularstdmedium.ttf);
    font-weight: normal;
}

/*navigation bar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    background-color: #417B5A;
    color: #F8F4E3;
    font-family: circularStd;
    /* change for scheme */
}
  
nav li {
    display: inline;
}

nav li a, .dropbtn {
    /*dropdown button*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover{
    /*color of background when hovered*/
    background-color: #612940;
    border-radius: 25px;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9D6381;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 25px 25px;
    z-index: 1;
}
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*homepage title and overview*/
.title { 
    font-family: circularStd;
    font-weight: bolder;
    color: #612940;
    font-size: 64px;
    text-align: center; 
    padding: 2.5%;
}

hr {
    margin: 2% 10%;
    border: 5px solid #417B5A;
    border-radius: 25px;
}

.overview {
    font-family: circularStd;
    font-weight: normal;
    color: #031927;
    font-size: 16px;
    width: 60%;
    text-align: left;
    margin: auto;
}

/*content sections*/
.mid {
    margin: 5%;
}

.secheader {
    background-color: #612940;
    border-radius: 65px;
    font-family: circularStd;
    font-weight: normal;
    color: #F8F4E3;
    font-size: 36px;
    width: 20%;
    text-align: center;
    padding: 2%;
    margin: 2%;
}

.section-container {
    display: grid;
    gap: 5%;
    /* dont use auto -> longer titles for sections */
    grid-template-columns: 30% 30% 30%;
}

.section {
    background-color: #9D6381;
    border-radius: 65px;
    font-family: circularStd;
    font-weight: normal;
    color: #F8F4E3;
    font-size: 24px;
    padding: 15%;
}

.questions {
    margin-top: 5%;
}

.quest {
    text-align: center;
    background-color: lightblue;
    padding: 15%;
}

/*footer*/
footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: gray;
}
  
#others { line-height: 1.5em; }